.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.form__enter-button {
  margin-bottom: 10px;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form input {
  width: 100%;
}

.form button {
  width: 100%;
}
